/* My custom css */
body {
  direction: rtl;
  font-family: "Rubik";
}

.media {
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #cecece;
}

.row .column:last-child .media, .row .columns:last-child .media {
  margin-bottom: 0;
}

.media-body {
  padding: 0px 10px 10px;
}

.media img {
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.media .media-body h6 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.media .media-body .description {
  font-weight: 400;
  /*margin-bottom: 0;*/
}

.media .media-body .button {
  float: left;
  margin-bottom: 0;
}

.media .media-body:after {
  clear: both;
  content: '';
  display: block;
}

.footer {
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid #eee;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

.footer ul li a {
  color: #222;
  text-decoration: none;
}

/* custom.css from getskeleton.com */
.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.section-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}

/* RTL alignment */
.column, .columns {
  float: right;
}

@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .section {
    padding: 6rem 0; }

  .media {
    margin-bottom: 0;
  }

  .column, .columns {
    margin-left: 0;
    margin-right: 4%;
  }

  .column:first-child, .columns:first-child {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}
